<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shares.mapper.StockFlowMapper">
  <resultMap id="BaseResultMap" type="com.example.shares.model.StockFlow">
    <!--@mbg.generated-->
    <!--@Table stock_flow-->
    <id column="id" property="id" />
    <result column="stock_id" property="stockId" />
    <result column="operation" property="operation" />
    <result column="amount" property="amount" />
    <result column="buy_amount" property="buyAmount" />
    <result column="count" property="count" />
    <result column="tax" property="tax" />
    <result column="account_id" property="accountId" />
    <result column="sell_reason" property="sellReason" />
    <result column="deal_time" property="dealTime" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, stock_id, `operation`, amount, buy_amount, `count`, tax, account_id, sell_reason, 
    deal_time, create_time, update_time
  </sql>
</mapper>